</main>

<footer class="container d-flex flex-row justify-content-center footer"> 
    <img class="footer-icon" src="/assets/images/icon.png" alt="icon" width="32" height="32">
    <p> © <%= new Date().getFullYear() %> Diogo Duarte </p> 
</footer>
</body>
</html>