<%- include('partials/header.ejs') %>

<div class="form-signin w-25 container d-flex flex-column justify-content-center mt-5">
    <form>
        <img class="mb-4" src="/assets/images/icon.png" alt="website logo" width="55" height="55">
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="Email address">
            <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Log In</button>
    </form>
</div>

<%- include('partials/footer.ejs') %>